Task1/CalculatorServiceLibrary/TestClient/Service References/TcpServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalculatorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculatorService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Mul_InputMessage">
    <wsdl:part name="parameters" element="tns:Mul" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Mul_OutputMessage">
    <wsdl:part name="parameters" element="tns:MulResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Sub_InputMessage">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Div_InputMessage">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_Div_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculatorService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/Add" message="tns:ICalculatorService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/AddResponse" message="tns:ICalculatorService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/Mul" message="tns:ICalculatorService_Mul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/MulResponse" message="tns:ICalculatorService_Mul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/Sub" message="tns:ICalculatorService_Sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/SubResponse" message="tns:ICalculatorService_Sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/Div" message="tns:ICalculatorService_Div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/DivResponse" message="tns:ICalculatorService_Div_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICalculatorService" type="tns:ICalculatorService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalculatorService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/Mul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/Sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/Div" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="NetTcpBinding_ICalculatorService" binding="tns:NetTcpBinding_ICalculatorService">
      <soap12:address location="net.tcp://localhost:8523/Service1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/Service1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>HOME-D\Dmitriy</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>