Task2/NorthwindServiceLibrary/TestProject/Service References/NorthwindService/northwind.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/dmitrii_chernov/northwind" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/dmitrii_chernov/northwind" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/dmitrii_chernov/northwind/Imports">
      <xsd:import namespace="http://epam.com/dmitrii_chernov/northwind" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetOrderEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderEx" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetOrderEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderExResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindService">
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://epam.com/dmitrii_chernov/northwind/INorthwindService/GetOrders" message="tns:INorthwindService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/dmitrii_chernov/northwind/INorthwindService/GetOrdersResponse" message="tns:INorthwindService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderEx">
      <wsdl:input wsaw:Action="http://epam.com/dmitrii_chernov/northwind/INorthwindService/GetOrderEx" message="tns:INorthwindService_GetOrderEx_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/dmitrii_chernov/northwind/INorthwindService/GetOrderExResponse" message="tns:INorthwindService_GetOrderEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://epam.com/dmitrii_chernov/northwind/INorthwindService/Add" message="tns:INorthwindService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/dmitrii_chernov/northwind/INorthwindService/AddResponse" message="tns:INorthwindService_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>